body
{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#mainContainer
{
    background-color: blue;
    height: 100%;
    width: 100%;
}

#examContainer
{
    width: 90%;
    margin-left: 5%;
    margin-top: 10%;
}